<% content_for :title do %> 
  Balance of user: <%= @user.name %>
<% end %>

<% content_for :subtitle do %> 
  Last updated: <%= @user.balance_updated_at.blank? ? 'Never' : l(@user.balance_updated_at) %> (<%= link_to 'update', balance_admin_user_path(@user, update: 1) %>)
<% end %>

<% if @user.balance.blank? %>
  <span>No data</span>
<% else %>
  <ul>
    <li>Available</li>
    <ul>
      <% @user.balance['available'].each do |avail| %>
        <li><%=avail['amount']%> <%=avail['currency']%> (Card: <%=avail['source_types']['card']%>) </li>
      <% end %>
    </ul>
    <li>Pending</li>
    <ul>
      <% @user.balance['pending'].each do |pending| %>
        <li><%=pending['amount']%> <%=pending['currency']%> (Card: <%=pending['source_types']['card']%>) </li>
      <% end %>
    </ul>
  </ul>
<% end %>

<% content_for :footer do %> 
  <%= link_to 'Back', admin_users_path %>
<% end %>